.git
.gitignore
.idea
.vscode
node_modules
vendor
storage/logs/*
storage/framework/cache/*
storage/framework/sessions/*
storage/framework/views/*
bootstrap/cache/*
.phpunit.result.cache
*.md
docker-compose*.yml
Dockerfile*
public/hot
public/storage
.env
.env.*
!.env.example
